@tailwind base;
@tailwind components;
@tailwind utilities;

.mouse-memoirs-regular {
  font-family: "Mouse Memoirs", system-ui;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  main {
    @apply bg-background text-text
  }
  body{
    @apply bg-background text-text
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
